<div class="melotokengate.js"></div>
{% schema %}
{
  "name": "melotokengate.js",
  "presets": [
    {
      "category": "React Components",
      "name": "melotokengate.js"
    }
  ]
}
{% endschema %}
