<div
  class="membersaccesscard"
  data-contract-address="{{ section.settings.contractAddress }}"
  data-chain-name="{{ section.settings.chainName }}"
></div>

{% schema %}
{
  "name": "Members Access Card",
  "settings": [
    {
      "type": "text",
      "id": "contractAddress",
      "label": "Contract Address",
      "default": "0x3f4f45A4C71030F5A1fd2B4cBA5F93fe308Fc8d1"
    },
    {
      "type": "text",
      "id": "chainName",
      "label": "Chain Name",
      "default": "binance"
    }
  ],
  "presets": [
    {
      "category": "React Components",
      "name": "Members Access Card"
    }
  ]
}
{% endschema %}
